xft.fontbackend: xft
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
!Xft.embolden: true

!emacs
Emacs*FontBackend: xft
Emacs*Font: Inconsolata-16
Emacs*Geometry: 80x25+0+0
Emacs*menuBar: false
Emacs*toolBar: false
Emacs*scrollBarWidth: 0
Emacs*verticalScrollBars: false
Emacs*cursorBlink: false
!
Emacs*synchronous: false
